/frontend/node_modules
/frontend/public/datasets
/add_random_values_to_ds.py
/frontend/.env
/frontend/build/
/backend/data/
/backend/gunicorn_logs/
/backend/logs/
/backend/node_modules/
/backend/venv
/data/
/node_modules
/backend/requirements.txt
/backend/q.txt
/backend/subprocess1.py
