alembic
bcrypt
cffi
click
cryptography
Flask
Flask-Cors
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet==1.1.0
gunicorn
itsdangerous
Jinja2
joblib
Mako
matplotlib
MarkupSafe
marshmallow
flask-cors==3.0.10
marshmallow-sqlalchemy
numpy
pandas
pycparser
pydantic
pyOpenSSL
python-dateutil
python-editor
pytz
pytz-deprecation-shim
scikit-learn
scipy
six
SQLAlchemy
tabulate
threadpoolctl
typer
typing-extensions
tzdata
tzlocal
Werkzeug
fuzzy-c-means
