.tutorial-container{
    display: grid !important;
    grid-template-columns: 2.5fr 1fr ;
    grid-template-areas: "videoPlayer videoList" !important;
    grid-template-rows: 1fr;
    height: calc(100vh) !important; 
    background-color: white !important;
    overflow-y: hidden;

}
.video-player{
    grid-area: "videoPlayer" !important;
    height: 70% !important;
   
}
.videoList{
    grid-area: "videoList";
    overflow-y: scroll;
    margin-top: 40 !important
}.video-title{
    display: block !important;
}.collapse-player-text{
    display: none !important;
}

@media (max-width: 900px) {
    .tutorial-container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        height: calc(100vh ) !important; 
        grid-template-areas: "videoPlayer" "videoList" !important;

    }
    .collapse-player-text{
        display: block !important;
    }
    .videoList{
        margin-top: 30 !important;
    }
    .player-text{
        display: none !important;  
    }.video-player{
        height: 100% !important;
        margin-top: 0px !important
    }
    
    
}